.hide {
    display: none;
}

body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 14px;
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

nav,
li,
ol,
a,
button {
    cursor: pointer;
    display: inline-block;
}

/* Mobile screen - base styles */
.container {
    min-width: 320px;
    max-width: 375px;

    padding: 0 20px;
    margin: 0 auto;

    /* outline: 2px solid red; */
    outline-offset: -2px;
}

/* Tablet screen */

@media screen and (min-wight: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}

/* Desktop screen */

@media screen and (min-wight: 1168px) {
    .container {
        max-width: 1168px;
    }
}

/* header */

.header-page {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 2px 1px 0px #2E2F4214;
}

.nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.logo-header {
    padding: 16px 0;
    display: block;
}

.logo-header .logo-text {
    color: #2e2f42;
}

.footer-logo .logo-text {
    color: #f4f4fd;
}

.mobver {
    border: none;
}

.btn-burger {
    display: block;
    fill: #2F2F37;
}